[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
isort = "*"
black = "==19.3b0"

[packages]
flask-restful = "==0.3.7"
flask-sqlalchemy = "~=2.4"
flask-cors = "==3.0.9"
psycopg2-binary = "==2.8.4"
flask = "~=1.1.1"

[requires]
python_version = "3.8"
